<%= render :partial => 'shared/flash_messages' %>
<%= render :partial => 'shared/tweet_form', :locals => {:stack => @stack} %>
    

<%= render :partial => 'notices' %>

<div style="clear: both;"></div>
<%= render :partial => "stack", :locals => {:tweet_stack => @tweet_stack}%>