<% unless @potential_followers.empty? %>
<h2>Potential Followers</h2>
<ul id="potential-followers">
  <%= form_tag(:action => "follow") do %>
    <% @potential_followers.each_with_index do |user, index| %>
    
  <li>
    <%= label_tag "followers[#{index}]", "#{user.screen_name}" %><%= check_box_tag "followers[#{index}]", user.screen_name %><br />
  </li>
    <% end -%>
    
    <%= submit_tag "Follow tweeple", :disable_with => 'Follow tweeple...' %>
  <% end -%>
</ul>
<% end %>